[todo]
# the location (full path) of the todo file. Must be absolute, i.e. the full path
todofile =
# if True, the todo file will be sorted by todo.next, otherwise it is left like as-is
sort = True
# location of the editor, if not default
editor =

[archive]
# archive directory and files are created based on "done"-date. 
# Available fields are corresponding to strftime() (e.g. %Y for year like '2012', etc.)
# the directories may be absolute or relative to the location of the todo file
archive_filename_scheme = archive\%Y\%Y-%m-%d_report.txt
# the following directories may not contain variable parts
archive_unsorted_filename = archive\without_date.txt
# for storing backups
backup_dir = backup

[display]
# sort
sort = done_or_todo overdue_flag priority_flag done_time due_time created_time alphabetical project context done todo
# parts
shorten = 
# properties: due created done file url
suppress = 
# if True, URLs and files will be shortened to enhance legibility
shorten_files = True
shorten_urls = True
# if True, the respective properties will be shortened
shorten_due = True
shorten_done = True
# hides the "created" property for display of most actions
hide_created = True